body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8d1d1d; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 50px auto;
}

.container img {
    max-width: 200px;
    margin: 10px;
}

.form-container {
    background-color: #ffffff; 
    padding: 20px;
    border: 2px solid #000000; 
    border-radius: 10px;
    margin: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #af3535;
    border-radius: 5px;
}

.buttons {
    margin-top: 10px; 
}

.buttons input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px; 
}

.buttons input[type="submit"] {
    background-color: #000000;
    color: #fff;
}

.buttons input[type="button"] {
    background-color: #852923;
    color: #fff;
}




.footer {
    background-color: #ffffff; 
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #000000; 
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}



.icons {
    display: flex; 
    align-items: center; 
}

.icons div {
    margin-right: 10px;
}
